@model IEnumerable<Examen_UII.Models.Dispositivos>

@{
    ViewData["Title"] = "Consultar";
}
@if (User.IsInRole("Admin"))
{

    <form method="get" asp-action="Registrar">
        <button class="btn btn-primary" type="submit">Agregar un Dispositivo</button>
    </form>

}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="text-center">Dispositivos registrados</h2>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Dirección MAC</th>
                        <th>Descripción</th>
                        <th>Prioridad</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>Usuario</th>
                        <th>Zona</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dispositivo in Model)
                    {
                        <tr>
                            <td>@dispositivo.Identificador</td>
                            <td>@dispositivo.DireccionMAC</td>
                            <td>@dispositivo.Descripcion</td>
                            <td>@dispositivo.Prioridad</td>
                            <td>@dispositivo.Latitud</td>
                            <td>@dispositivo.Longitud</td>
                            <td>@dispositivo.Usuarios.Nombre</td>
                            <td>@dispositivo.Zonas.Nombre</td>
                            <td>@dispositivo.Estados.Nombre</td>
                            <td>
                                @if (@dispositivo.Estados.Nombre == "Abierto")
                                {
                                    <form method="get" asp-controller="RegistrosConsumo" asp-action="Registrar">
                                        <input type="hidden" name="dispositivoId" value="@dispositivo.ID" />
                                        <button class="btn btn-primary" type="submit" class="btn btn-primary">Cambiar
                                            Estado</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="CambiarEstado">
                                        <input type="hidden" name="id" value="@dispositivo.ID" />
                                        <button class="btn btn-primary" type="submit">Cambiar Estado</button>
                                    </form>
                                }
                                
                                <form method="post" asp-action="Eliminar" class="mt-1">
                                    <input type="hidden" name="id" value="@dispositivo.ID" />
                                    <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>