@model IEnumerable<Examen_UII.Models.Dispositivos>

@{
    ViewData["Title"] = "Mapa";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 400px;
        width: 60%;
        align-content: center;
    }
</style>

<div>
    <h2>Elige un Dispositivo:</h2>

    <div id="map"></div>

    <form id="form">
        <input type="hidden" id="EstadoId" name="EstadoId" value="" />
        <button id="btn" class="btn btn-primary">Continuar</button>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script> *@
    <script src="~/js/SignalR.js"></script>
    <script>
        var markers = {};

        var map = L.map('map').setView([19.8160106, -97.35705759999999], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        @foreach (var dispositivo in Model)
        {
            <text>
                    var icon;
                    var estadoId = @dispositivo.EstadosId;
                    if (estadoId === 1) {
                        icon = L.icon({
                            iconUrl: 'https://cdn.pixabay.com/photo/2014/04/03/10/03/google-309741_1280.png',
                            iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34]
                        });
                                               } else if (estadoId === 2) {
                        icon = L.icon({
                            iconUrl: 'https://cdn.pixabay.com/photo/2014/04/03/10/03/google-309740_960_720.png',
                            iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34]
                        });
                                                 }

                    var marker = L.marker([@dispositivo.Latitud, @dispositivo.Longitud], {icon: icon }).addTo(map);
                    marker.bindPopup("ID: @dispositivo.Identificador").openPopup();

                    markers[@dispositivo.ID] = marker;

                    marker.on('click', function (e) {
                            var dispositivoId = @dispositivo.ID;
                    var estadoId = @dispositivo.EstadosId;
                    document.getElementById("EstadoId").value = estadoId;

                    var hiddenField = estadoId === 1 ? "dispositivoId" : "id";

                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = hiddenField;
                    input.value = dispositivoId;
                    document.getElementById("form").appendChild(input);
                        });
            </text>
        }

            document.getElementById("map").style.cursor = "not-allowed";

        document.getElementById("form").onsubmit = function () {
            var estadoId = document.getElementById("EstadoId").value;
            if (estadoId === "1") {
                this.method = "GET";
                this.action = "/RegistrosConsumo/Registrar";
            } else if (estadoId === "2") {
                this.method = "POST";
                this.action = "/Dispositivos/CambiarEstado";
            }
        };


        ////// notificacion cambio de estado 
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificacionHub")
            .build();

        connection.start().then(function () {
            console.log("Conexión de SignalR establecida.");
        }).catch(function (err) {
            console.error("Error de conexión SignalR: " + err);
        });

        connection.on("DeviceOpened", function (dispositivoId) {
            MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha abierto.`);
        });

        connection.on("DeviceClosed", function (dispositivoId) {
            MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha cerrado.`);
        });

        function MostrarNotificaciones(msj) {
            if (!(Notification) in window) {
                alert("El navegador no soporta notificaciones");
            }
            else if (Notification.permission === "granted") {
                const noti = new Notification(msj);

            }
            else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (p) {
                    if (Notification.permission === "granted") {
                        const ns = new Notification("Permiso autorizado");
                    }
                });
            }
        }
    </script>

</div>
